

* {  padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-decoration: none !important;
}



.preto{background-color:black;}





body {background-color:white;
	color:black;
    font-family:'Open Sans', sans-serif;
}

nav { font-family:open-sans-bold;
        font-size: larger;


}







section.noticia figcaption {
    font-size: larger;
    margin-top: 1rem;
}


section.textonoticia p {font-size: 1.5rem

}



footer {background-color:white;


}



footer div a {margin-right: 2rem

}


/*--------------------------------------------------------------------------------------*/
/*Classes*/



.navbar-toggler-icon {
    display: inline-block;
    width: 4em;
    height: 4em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    color:black;
}


.page-link  { background-color:black;}


.alturaindicador {height: 1.6rem !important;}


.altura{height:1.6rem;}

.bilhete{color:red;}


/* Style buttons */
main.artigo .btn {
    background-color: white; /* Blue background */
    border: transparent 2px solid; /* Remove borders */
    color: red; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

}

/* Darker background on mouse-over */
main.artigo .btn:hover {
    background-color: white;
    color: red;
    border: red 2px solid;

}




/*--------------------------------------------------------------------------------------*/
/*FAQ*/

#accordion {
color: rgb(67,66,68);
border: 0}

.card {border: 0
}

.card-header {background-color: rgb(246,248,252);
    color: rgb(67,66,68);
 }

.card-body {background-color: rgb(246,248,252);
    color: rgb(67,66,68);
    padding-left: 2.5rem;
font-size: larger}

div#accordion button {    color: black; font-size: x-large
}


/*--------------------------------------------------------------------------------------*/
/*Subscribe Newsletter*/

.newsletter {
    background:white;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }

.newsletter .content .form-control {
    height: 3.2rem;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;

}



/*--------------------------------------------------------------------------------------*/
/*Media Queries*/

@media (max-width: 575px)  {nav {background-color:transparent !important; }


    .navbar-collapse    {
        color:black;
}

    nav ul {margin-top: 7rem;
        font-size: x-large; }

    nav li {margin-bottom: 0.5rem; }

    .marginmenu {margin-left: 4rem}



}


@media (min-width: 576px) {nav {background-color:transparent !important; }



    .navbar-collapse    {
        background-color: black;
        color:white;
        position: fixed; top: 0; bottom: 0; left: 0; right: 0;    }

    nav ul {margin-top: 7rem;
            font-size: x-large;}

    nav li {margin-bottom: 0.5rem;}

    .marginmenu {margin-left: 8rem}


}

@media (max-width: 760px) {
    audio{width:100%;
    }
}

@media (max-width: 992px) {

    .sticky-top { position: static !important;
    }


    div#collapsibleNavbar {

        top: 0;
        z-index: 1020;}
}


@media (min-width: 992px) {


    nav {background-color: black !important; }


    .navbar-collapse {position: relative}


    nav ul {margin-top: 0;
        font-size:large;  }

    nav li {margin-bottom: 0;
            margin-right: 1rem}

    .marginmenu {margin-left: 1.5rem}

}

/* Style buttons */
.btn {
    background-color: white; /* White background */
    border: transparent 2px solid; /* Remove borders */
    color: red; /* Red text */
    padding: 12px 12px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

}

.btn2{
    background-color: red; /* White background */
    border: transparent 2px solid; /* Remove borders */
    color: white; /* Red text */
    padding: 12px 12px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    color: red;
    border: red 2px solid;
}

.btn2:hover{
    color:red;
    background-color:white;
    border:red 2px solid;
}

.marginbtn{margin-left:13rem;
    margin-bottom:1.5rem;
}




/* Style borders */
.traços{
    border-bottom:solid 2px darkgrey;
    border-top:solid 2px darkgrey;
}


.w-90{width:90%;}
.p-6{padding-top:3rem;}


select{
    padding-top:12px;
    padding-bottom:12px;
    margin-bottom:8px;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.profile-rating span{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    color: black;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid red;
    background-color: rgba(1,1,1,0.05);
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

#editarfoto {
    color: white;
}

.cinza {
    color: dimgray;
}

div.tab-content p {
    color: black;
}

.titulo {;
    color: red;
}

div.profile-work a {
    padding: 2%;
}

div.profile-work a:hover {
    color: black;
    border: none;
    border-bottom:solid 2px red;
    border-radius: 5%;
    background-color: rgba(1,1,1,0.05);
    padding: 2%;
}